@import url('https://fonts.googleapis.com/css?family=Bellota+Text|Quicksand|Raleway&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Bellota Text", cursive;
  background: #242429;
  color: rgb(0, 225, 255);
}

.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

header{
  padding: 1rem;
  background: #0a0711;
  color: #f4f4f4;
  min-height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

header li{
  display: inline;
  padding: 0.3rem 0.5rem;
}

header #logo{
  float: left;
}

header #logo a{
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
}

#header-2{
  display: none;
}

#logo a:hover{
  color: #695fc7;
}

header nav{
  float: right;
  padding-top: 0.4rem;
}

header nav a{
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

header nav a:hover{
  font-weight: bold;
  color: #695fc7;
  text-decoration: underline;
}

#showcase{
  height: 100vh;
  background: url(../img/showcase2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #f4f4f4;
  display: flex;
}

#showcase h1{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
}

#showcase p{
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.2rem;
}

#showcase .middle{
  background: rgba(0,0,0,0.5);
}

.center{
  border: 3px solid #cccccc;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#about{
  display: flex;
  font-size: 1.8rem;
  min-height: 100vh;
}

#skills{
  min-height: 100vh;
  font-size: 1.5rem;
  width: inherit;
}

#skills h1{
  font-size: 2rem;
}

#skills p{
  font-size: 1.5rem;
}

#skills .skillbox, #contacts .box{
  float: left;
  width: 33.3%;
  padding: 0.3rem;
  text-align: center;
  font-size: 1.5rem;
}

#skills .skillbox h3{
  font-size: 1.7rem;
}

#projects{
  height: 100vh;
  padding: 3rem;
  background: url(../img/image1.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
}

#projects p{
  font-size: 1.5rem;
}

#projects .p-website{
  text-decoration: none;
  color:aqua;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 3px 2px #0a0711;
}

#contacts{
  margin-bottom: 70px;
}
#contacts .box a{
  color: inherit;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#contacts .box a:hover{
  text-decoration: underline;
}
footer{
  height: 70px;
  background: #0a0711;
  color: #f4f4f4;
  text-align: center;
  padding: 1.5rem 3rem;
  font-size: 1.3rem;
}

@media(max-width:768px){
  header{
    display: none;
  }

  #header-2{
    display: block;
    padding: 1rem;
    background: #0a0711;
    color: #f4f4f4;
    min-height: 30 px;
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  #smallnav{
    overflow: hidden;
    background: #0a0711;
    position: relative;
  }

  #smallnav #nav{
    display: none;
  }

  #smallnav li{
    padding: 0.5rem 0.5rem;
  }
  
  #smallnav a{
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  #smallnav a.icon{
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  #about{
    font-size: 1.3rem;
  }

  #projects h1{
    text-align: center;
  }
  
  #skills h1, p, #contacts h2{
    text-align: center;
  }
  
  #skills .skillbox, #contacts .box{
    float: none;
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    font-size: 1.2rem;
  }

  #skills h3{
    text-align: center;
  }

  #skills ul{
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 2rem;
  }
}

@media(max-width:375px){
  #skills ul{
    list-style-type: disc;
    margin: 1.5em 0;
    padding-left: 2.5rem;
    font-size: 1.2rem;
  }

  footer{
    font-size: 1rem;
  }
}

@media(max-width:320px){
  #skills ul{
    list-style-type: disc;
    margin: 1.5em 0;
    padding-left: 2.5rem;
    font-size: 1.1rem;
  }

  #footer{
    font-size: 0.8rem;
  }
}

/*Very small screens*/
@media(max-width:210px){
  #showcase h1{
    font-size:1.5rem;
  }

  .container{
    width: 98%;
  }

  .center{
    border: 3px solid #cccccc;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  #about{
    font-size: 1.2rem;
  }
  
  #skills h1{
    font-size: 1.5rem;
  }

  #skills .skillbox h3{
    font-size: 1.2rem;
  }

  #skills .skillbox p, #contacts .box{
    font-size: 1rem;
  }

  #skills ul{
    list-style-type: disc;
    margin: 1rem 0;
    padding-left: 2rem;
    font-size: 1.1rem;
  }

  #projects h1, #projects p{
    background: rgba(0,0,0,0.5);
  }
  
  #projects p{
    font-size: 1rem;
  }

  #contacts h2{
    font-size: 1.3rem;
  }

  footer{
    font-size: 1rem;
    min-height: 100px;
  }
}