@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* global */
body{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: #f4f4f4;
}

h1{
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2{
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

/* To change */
#start-page{
  background: #0a0711;
  height: 100vh;
}

#start-page-text{
  height: 50vh;
  color: #695fc7;
  text-align: center;
}

#start-page-text-inner{
  padding-top: 5rem;
  text-align: center;
}

#start-page-text h2{
  color: #a3a3a3;
}

.btn{
  display: inline-block;
  margin-top: 0.5rem;
  border: none;
  border-radius: 50px;
  background: #695fc7;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #0a0711;
  transition: background 500ms ease;
}

.btn:hover{
  background: #a3a3a3;
  color: #0a0711;
}

#start-page-image{
  background: url(../img/showcase1.jpg);
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Responsive */
@media(min-width:700px){
  #start-page{
    display: flex;
    height: 100vh;
  }

  #start-page-text{
    flex: 0 1 40vw;
    padding-top: 12rem;
  }

  #start-page-image{
    flex: 0 1 60vw;
    height: 100vh;
  }
}